{% extends 'main.html' %} {% block content %} 
<br><br>

<table border="2" class="center">
    <col width="200" />
    <col width="200" />
    <col width="200" />
    <tr>
        <tr>
        <th style="padding: 10px" class="mathhq" colspan="3"> Points Guide </th>
    </tr>

    <tr>
        <td style="padding: 10px" class="mathhq"> Subject </td>
        <td style="padding: 10px" class="mathhq"> Level </td>
        <td style="padding: 10px" class="mathhq"> Points for question <br> taken / correct </td>
    </tr>
    <tr>
        <td style="padding: 10px" class="mathhq" rowspan="3"> Addition <br> Subtraction </td>
        <td style="padding: 10px" class="mathhq"> Beginner </td>
        <td style="padding: 10px" class="mathhq"> 1 / 1 </td>
    </tr>
    <tr>
        <td style="padding: 10px" class="mathhq"> Intermediate </td>
        <td style="padding: 10px" class="mathhq"> 1 / 2 </td>
    </tr>
    <tr>
        <td style="padding: 10px" class="mathhq"> Expert </td>
        <td style="padding: 10px" class="mathhq"> 1 / 2 </td>
    </tr>
    <tr>
        <td style="padding: 10px" class="mathhq" rowspan="3"> Multilpication <br> Division </td>
        <td style="padding: 10px" class="mathhq"> Beginner </td>
        <td style="padding: 10px" class="mathhq"> 1 / 1 </td>
    </tr>
    <tr>
        <td style="padding: 10px" class="mathhq"> Intermediate </td>
        <td style="padding: 10px" class="mathhq"> 2 / 2 </td>
    </tr>
    <tr>
        <td style="padding: 10px" class="mathhq"> Expert </td>
        <td style="padding: 10px" class="mathhq"> 2 / 3 </td>
    </tr>
    <tr>
        <td style="padding: 10px" class="mathhq" rowspan="3"> Division with <br> Remainders</td>
        <td style="padding: 10px" class="mathhq"> Beginner </td>
        <td style="padding: 10px" class="mathhq"> 1 / 2 </td>
    </tr>
    <tr>
        <td style="padding: 10px" class="mathhq"> Intermediate </td>
        <td style="padding: 10px" class="mathhq"> 2 / 3 </td>
    </tr>
    <tr>
        <td style="padding: 10px" class="mathhq"> Expert </td>
        <td style="padding: 10px" class="mathhq"> 2 / 4 </td>
    </tr>
</table>

{% endblock content %}